@font-face {
    font-family: 'g-bold';
    src: url('../font/gotham-rounded-bold.otf');
}

@font-face {
    font-family: 'g-book';
    src: url('../font/gotham-rounded-book.otf');
}

@font-face {
    font-family: 'g-book-italic';
    src: url('../font/gotham-rounded-book-italic.otf');
}

@font-face {
    font-family: 'g-lite';
    src: url('../font/gotham-rounded-light.otf');
}

@font-face {
    font-family: 'g-lite-italic';
    src: url('../font/gotham-rounded-light-italic.otf');
}

@font-face {
    font-family: 'g-comma';
    src: url('../font/AllertaStencil-Regular.ttf');
}


// Colors //

$primarycolor : #EA2B7B;
$secondarycolor : #05B3C4;
$primarybgcolor :  #EA2B7B;
$secondarybgcolor :  #05B3C4;
$socialcolor : #9FA3A5;
$primarytextcolor :  #231F20;
$secondarytextcolor : #FFFFFF;
$buttoncolor : #FFFFFF;

// button //

.primaryBtn {
    width: 157px;
    height: 42px;
    background-color: $secondarybgcolor;
    color: $buttoncolor;
    font-size: 18px;
    font-family: 'g-bold';
    text-transform: uppercase;   
    cursor: pointer;
    border: none;
    outline:none;
    @media only screen and (min-width:320px) and (max-width:768px) {
            font-size: 15px;
            height: 30px;
            width: 140px;
    }
} 

.secondaryBtn {
    width:270px;
    height: 30px;
    background-color: $primarybgcolor;
    color: $buttoncolor;
}

// spacing //

$primarypadding : 60px 0px; 
$bannerpadding : 100px 120px 100px 125px; 

//fonts 

$primaryparafont : 16px;

//input

.commonInputBox {
        width : 340px;
        height: 30px;
        border-left : 2px solid $primarycolor;
        border-right : 2px solid $primarycolor;
        outline: none; 
        padding: 0rem 1rem;
        border-top: 1px solid #b9b9b9;
        border-bottom: 1px solid $primarycolor;
}


@keyframes linear {
	
	from {
		background-position: 0 0;
	}
	to {
		background-position: 200px 0;
	}
	
}

@keyframes radial {
	
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 60px;
	}
	
}

@keyframes repeating {
	
	from {
		background-position: 0 0;
	}
	to {
		background-position: 0 85px;
	}
	
}

@keyframes electronic {
	
	0%, 100% {
		background-position: 20px -30px;
	}
	25% {
		background-position: 150px 5px;
	}
	50% {
		background-position: 20px 40px;
	}
	75% {
		background-position: -100px 5px;
	}
	
}

.biliboard {
	  width: 157px;
    height: 42px;
	padding: 15px 40px;
	text-align: center;
	position: relative;
    font-size: 16px;
    font-family: 'g-bold';
	background: $secondarybgcolor;
	color: #fff;
    text-transform: uppercase;
    @media only screen and (min-width:320px) and (max-width:768px) {
            font-size: 15px;
            height: 30px;
            width: 140px;
    }
}
.biliboard:hover {
   background: $primarybgcolor;
   cursor: pointer;
   color: #fff;
}


.ion-social-facebook:hover {
    color: #3b5998	;
}

.ion-social-twitter:hover {
    color :  #0084b4;
}

.ion-social-linkedin:hover {
    color: #0077B5;
}


