<!DOCTYPE html>
<html>
  <head>
<meta property="og:title" content=" Website Designing | Mobile App | UI/UX | Digital Transportation | Hashworks Pvt Ltd | Hashworks.co | Bangalore "/>
<meta property="og:type" content="website"/>
<meta name="og:url" content="http://www.Hashworks.co"/>
<meta property="og:image" content="#"/>
<meta property="og:description" content="We are IT-change partners enabling digital transformation for Large enterprise & Captive IT units."/>
<meta property="og:site_name" content="Hashworks"/>
<!--<meta property="fb:app_id" content="357316364458378"/>-->
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="We are IT-change partners enabling digital transformation for Large enterprise & Captive IT units."/>
<!--<meta name="p:domain_verify" content="28bfa03c054dd2bb449402a4d54a54d3"/>-->
<title>Website Designing | Mobile App | UI/UX | Digital Transportation | Hashworks Pvt Ltd | Bangalore</title>
<link rel="stylesheet" href="/assets/css/framework/flexboxgrid.css">
<link rel="stylesheet" href="/assets/css/style1.css">
<link rel="icon" href="favicon.ico">
<link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
<link rel="stylesheet" href="/assets/css/framework/animate.css">
</head>
<body>
    <header>
        <div class="row header middle-lg middle-md middle-sm middle-xs">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 headerLeft noPaddingLeft">
                <img src="/assets/img/Hwlogo.png"/>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 headerRight noPaddingRight">
                <ul class="headerRight--social">
                    <li class="hide-xs"><a href="https://www.facebook.com/hashworks"><i class="ion-social-facebook"></i></a></li>
                    <li class="hide-xs"><a href="https://twitter.com/hashworksco"><i class="ion-social-twitter"></a></i></li>
                    <li class="hide-xs"><a href="https://www.linkedin.com/company/hashworks?trk=top_nav_home"><i class="ion-social-linkedin"></a></i></li>
                     <li class="commonMenu__icon"><i class="ion-navicon-round"></i></li>
                </ul>
                <div class="nav-dropDown">
                <div class="row start-md start-lg start-sm start-xs nav-dropDown__logo">
                    <img src="/assets/img/Hwlogo.png"/>
                    <i class="ion-close-round MenuContent__close"></i>
                </div>
  <ul>
                    <li>About</li>
                    <li>Service</li>
                    <li>Career</li>
                    <li>Technology</li>
                    <li>Case Study</li>
                    <li>Contact</li>
                </ul>
                <div class="nav-dropDown__social">
                     <ul class="headerRight--social">
                    <li class="hide-xs"><a href="https://www.facebook.com/hashworks"><i class="ion-social-facebook"></i></a></li>
                    <li class="hide-xs"><a href="https://twitter.com/hashworksco"><i class="ion-social-twitter"></a></i></li>
                    <li class="hide-xs"><a href="https://www.linkedin.com/company/hashworks?trk=top_nav_home"><i class="ion-social-linkedin"></a></i></li>
                </ul>
                </div>
                </div>
            </div>
        </div>
    </header>
    <!-- The Hero Session Starts Here -->
    <section class="hero">
        <section class="banner">
            <div class="row bannerContainer">

                <div class="bannerLeft row middle-lg middle-xs">
                    <div class="row middle-md middle-sm">
                        <h1>Execute
<span>Highly Profitable</span>
Digital Transformation</br>
Projects</h1>
                    </div>
                </div>  
                  <div class="bannerRight"> 

                      <div class="bannerRight__cover">
                      </div>

                      <div class="bannerRight__div row middle-lg middle-md middle-sm middle-xs">
                            <h1>Innovation. Change. Collaboration partner for your software driven business to deliver profits and growth...</h1>
  <div class="bannerRight__action">
                      
                      <a class="biliboard">Talk To Us</a>
                      
                      </div>
                      </div>
                </div>        

            </div>
           
        </section>
       
        <section class="testimonial row middle-lg middle-md">
            <section class="container commonFlex">
            <section class="testimonial__image">
                <img src="/assets/img/Sprites-06.png"/>
            </section>
             <section class="testimonial__content row middle-lg middle-md middle-sm middle-xs">
                    <div class="testimonial__content--comma1">
                        <span><img src="/assets/img/Quote_2.png"></span>
                    </div>
                    <div class="testimonial__content--text">
                        <h1>Every IT Leader deserves to gain more profits by identifying every hidden asset and overlooked opportunity in their digital transformation projects</h1>
                        <h2 class=""><span>GopiKrishna Kannan</span>, CEO -Hashworks</h2>
                    </div>
                     <div class="testimonial__content--comma2">
                        <span><img src="/assets/img/Quote_2.png"></span>
                    </div>
            </section>
        </section>
        </section>
        <section class="theory">
                <section class="container">
            <section class="theoryContainer">
            <section class="theory__heading">
                <h1>The <span>Profit-First Workforce</span> ensures you will never worry about
the performance of your digital transformation projects again</h1>
            </section>
            <section class="theory__content">
                <div class="row">
                        <div class="col-lg-4 col-md-4 theory__contentHeading noPaddingLeft">
                            <div class="theoryGroup row middle-sm middle-md middle-lg middle-xs">
                            <div class="theory__contentHeading--iconChess center-xs">
                                <img src="/assets/img/Icons & Elements_2-04">
                            </div>
                            <div class="theory__contentHeading--title">
                                <h1>Make Your <span>Strategy Work</span></h1>
                            </div>
                            </div>
                            <div class="theory__contentHeading--border">
                            </div>
                             <div class="theory__contentHeading--detail">
                                 <h1>With time opportunities get smaller<span>while the obstacles get larger</span></h1>
                            </div>
                        </div>
                         <div class="col-lg-4 col-md-4 theory__contentHeading">
                             <div class="theoryGroup row middle-sm middle-md middle-lg middle-xs">
                               <div class="theory__contentHeading--iconDash center-xs">
                                 <img src="/assets/img/Icons & Elements_2-05.png">
                            </div>
                            <div class="theory__contentHeading--title">
                                <h1>Deliver
<span>high performance</span></h1>
                            </div>
                             </div>
                             <div class="theory__contentHeading--border">
                            </div>
                             <div class="theory__contentHeading--detail">
                                 <h1>Quantify Cost of Delay, deliver<span>products with economic value</span></h1>
                            </div>
                        </div>

                            <div class="col-lg-4 col-md-4 theory__contentHeading noPaddingRight">
                             <div class="theoryGroup row middle-sm middle-md middle-lg middle-xs">
                               <div class="theory__contentHeading--iconDash center-xs">
                                 <img src="/assets/img/Icons & Elements_2-06.png">
                            </div>
                            <div class="theory__contentHeading--title">
                                <h1>Minimize<span>
Risks</span></h1>
                            </div>
                             </div>
                             <div class="theory__contentHeading--border">
                            </div>
                             <div class="theory__contentHeading--detail">
                                 <h1>Inside every bad choice lies a<span>good choice</span></h1>
                            </div>
                        </div>

                </div>
            </section>
            </section>
            </section>
        </section>

   <section class="workflow">
        <section class="container">
            <section class="workflowContainer">
                <div class="row">
                    
                     <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 workflowRight">
                       
                         <div class="workflowRight__heading">
                         <h1>Explore The Profit-First Workforce</h1>
                         </div>
                         <div class="workflowRight__title">
                               <div class="workflowRight__icon">
                             <img src="/assets/img/Icons & Elements_2-01.png"/>
                         </div>
                             <h1>Request our FREE Profit-Dig Consultation</h1>
                             <p>We will dig your digital transformation projects to find out exactly how we can maximize profits.</p>
                         </div>
                          <div class="workflowRight__title">
                               <div class="workflowRight__icon">
                             <img src="/assets/img/Icons & Elements_2-02.png"/>
                         </div>
                             <h1>Hire a Profit-First Workforce</h1>
                             <p>While technology is a driver; it is the people, not just the technology, that will transform the organization for the future.
                                We enable you to hire A-level players and play to win.</p>
                         </div>
                          <div class="workflowRight__title">
                               <div class="workflowRight__icon">
                             <img src="/assets/img/Icons & Elements_2-03.png"/>
                         </div>
                             <h1>Execute Highly Profitable digital
transformation projects with confidence</h1>
                             <p>Innovate and offer a superior experience to your customers with the Profit-First Workforce.</p>
                         </div>
                          <div class="workflowRight__action center-lg center-md center-sm center-xs">
                            <a class="biliboard">Talk To Us</a>
                         </div>
                    </div>
                </div>
            </section>
            </section>
        </section>

 <section class="technology">
     <section class="container">
            <section class="technologyContainer">
                    <section class="technologyContainer__title">
                    <h1>Our Technology Offerings</h1>
                    <p>We can accelerate your IT strategy to differentiate & succeed</p>
                    </section>
                    <section class="technologyContainer__list">
                        <div class="row between-lg between-md">
                           
                            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 technologyContainer__box center-lg center-sm center-xs noPaddingLeft">
                                   <a href="http://hashworks.co/post/2016-1-5-text/"> <div class="technologyContainer__box--iconData">
                                        <img src="/assets/img/Icons & Elements_2-07.png"/>
                                    </div>
                                    <div class="technologyContainer__box--heading">
                                        <h1>DataOps</h1>
                                    </div>
                                    <div class="highlight">
                                    </div>
                                   </a>
                            </div>
                             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 technologyContainer__box center-lg center-sm center-xs">
                                 <a href="http://hashworks.co/post/2016-1-2-fourth/">  <div class="technologyContainer__box--iconOps">
                                       <img src="/assets/img/Icons & Elements_2-08.png"/>
                                    </div>
                                    <div class="technologyContainer__box--heading">
                                        <h1>Devops</h1>
                                    </div>
                                     <div class="highlight">
                                    </div> </a>
                            </div>
                             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 technologyContainer__box center-lg center-sm center-xs">
                                  <a href="http://hashworks.co/post/2015-12-12-your-filename/"> <div class="technologyContainer__box--iconMobility">
                                       <img src="/assets/img/Icons & Elements_2-09.png"/>
                                    </div>
                                    <div class="technologyContainer__box--heading">
                                        <h1>Mobility</h1>
                                    </div>
                                     <div class="highlight">
                                    </div> </a>
                            </div>
                             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 technologyContainer__box center-lg center-sm center-xs">
                                  <a href="http://hashworks.co/post/2016-1-2-six/"> <div class="technologyContainer__box--iconUi">
                                       <img src="/assets/img/Icons & Elements_2-10.png"/>
                                    </div>
                                    <div class="technologyContainer__box--heading">
                                        <h1>UI/UX</h1>
                                    </div>
                                     <div class="highlight">
                                    </div> </a>
                            </div>
                             <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 technologyContainer__box center-lg center-sm center-xs noPaddingRight">
                                  <a href="http://hashworks.co/post/2016-1-2-aaaa/"> <div class="technologyContainer__box--iconScience">
                                       <img src="/assets/img/Icons & Elements_2-11.png"/>
                                    </div>
                                    <div class="technologyContainer__box--heading">
                                        <h1>Data Science</h1>
                                    </div>
                                    <div class="highlight">
                                    </div></a>
                            </div>
                             
                        </div>
                    </section>
            </section>
 </section>
        </section>
      <section class="clientTalk row middle-lg middle-md">
            <section class="container commonFlex-xs">
             <section class="clientTalk__content row middle-lg middle-md middle-sm middle-xs">
                    <div class="clientTalk__content--comma1">
                        <span><img src="/assets/img/Quote_2.png"></span>
                    </div>
                    <div class="clientTalk__content--text">
                        <h1>The way in which Hashworks focuses on Profit-First is something I’ve never seen in another IT partner. I don’t think you will find a better partner for your Digital Transformation projects.</h1>
                         <h2 class=""><span>Rangan</span>,Dell</h2>
                    </div>
                     <div class="clientTalk__content--comma2">
                        <span><img src="/assets/img/Quote_2.png"></span>
                    </div>
            </section>
        </section>
        </section>
         <section class="clients">
          <section class="container">
          <div class="row between-lg between-md between-sm">
              <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 center-sm center-xs clients__row">
                  <img src="/assets/img/Experis IT.png"/>
              </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 center-sm center-xs clients__row">
                       <img src="/assets/img/Hubble.png"/>
              </div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-12 center-sm center-xs clients__row">
                       <img src="/assets/img/L&T.png"/>
              </div>
                <div class="col-lg-2 col-md-2 col-sm-6 col-xs-12 center-sm center-xs clients__row">
                       <img src="/assets/img/Narayanhealth.png"/>
              </div>
                <!--<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6">
                       <img src="images/Latentview.png"/>
              </div>-->
               <div  class="col-lg-2 col-md-2 col-sm-6 col-xs-12 center-sm center-xs clients__row">
                       <img src="/assets/img/Sunknowledge.png"/>
              </div>
          </div>
         </section>
        </section>
       
     
        <section class="getInTouch">
            <section class="container">
            <section class="getInTouchContainer">
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 getInTouchBox boxeffect row start-md  start-md center-sm center-xs">
                        <div class="getInTouchBox__banner">
                            <img src="/assets/img/E-Book-a_Des&Tab.png"/>
                        </div>
                       
                    </div>
                     <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 getInTouchBox middle-lg">
                        <div class="getInTouchBox__title">
                            <h1>The <span>Profit-First</span></h1> 
                            <h2>Workforce</h2>
                            <h3></h3>
                            <p>5 proven steps to 2X the profit from<span>
your digital transformation projects</span></p>
  <div class="getInTouchBox__input">
      <form id="submit-home-data">
                            <input  class="commonInputBox" id="user-name" type="text" placeholder="First Name*">
                            <input  class="commonInputBox" id="user-mail" type="text" placeholder="Email*">
                            <button type="submit" class="primaryBtn">Subscribe</button>
      </form>
                        </div>
                        </div>
                      
                    </div>
                </div>

            </section>
        </section>
        </section>
      
    </section>
  <!-- The Hero Session Ends Here -->
    <footer>
       
            <section class="footerContainer">
                <section class="container">
                <div class="footerList">
                <ul class="row between-lg between-md">
                    <li>Offerings</li>
                    <li>Engage Us</li>
                    <li>Case Study</li>
                    <li>Company</li>
                    <li>Blog</li>
                    <li>Job Board</li>
                    <li>News</li>
                    <li>Contact</li>
                </ul>
                </div>
                <div class="footerCredits">
                    <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 noPaddingLeft">
                                    <h1>© 2014 Hashworks All Rights Reserved</h1>
                                </div>

                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 end-lg end-md noPaddingRight end-sm end-xs">
                                        <span><a href="https://www.facebook.com/hashworks"><i class="ion-social-facebook"></i></a></span>
                                        <span><a href="https://twitter.com/hashworksco"><i class="ion-social-twitter"></a></i></span>
                                        <span><a href="https://www.linkedin.com/company/hashworks?trk=top_nav_home"><i class="ion-social-linkedin"></a></i></span>
                                </div>
                                
                    </div>
                
                </div>
            </section>
            </section>
    </footer>



{% include html-footer.html %}